.container {
  background-color: var(--gray-700);
  height: 3rem;
  border-top: 1px solid var(--gray-200);
}

.content {
  width: 1120px;
  display: flex;
  margin: 0 auto;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;


  span {
    color: var(--white);
  }

  img {
    height: 2rem;
  }
}